.single-post article{
	background-color: $white;
	color: $black;
	
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	//margin-top: 2em;
	
	
	header {
		text-align: center;
		
		h1{
			
		}
		
		img {
			max-width: 100%;
			height: auto;
		}
	}
	
	//TODO - FLYTTE
	.participants {
		ul {
			text-align: center;
			list-style: none;
			padding: 0;
			margin: 0;
			
			li {
				margin-bottom: 3.5rem;
			}
		}
	}
	
	//TODO - FLYTTE
	.relevant-content {
		.linklist {
			margin: 2em 0 3.5rem;
		}
	}
	
	//TODO - FLYTTE
	footer{
		border-top: solid 2px $red;
		padding: 1.8em 0 3.5rem;
	}
	
}